{{ define "content"}}
<h3  class="dashboard-header"> Profile</h3>
<hr>
<div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
  <br>
  <div class="card">
    <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
            <i class="material-icons opacity-10">person</i>
        </div>
        <div class="text pt-5">
          <div class="table-responsive">
                <h3 class="dashboard-header mt-3" id="user_name"></h3>
                <hr>
                <img src="" id="profilephoto" alt="Profile Photo" class="profilephoto">
                <h5 class="table-textheader mt-3" id="firstname"></h5>
                <h5 class="table-textheader mt-3" id="lastname"></h5>
                <h5 class="table-textheader mt-3" id="username"></h5>
                <h5 class="table-textheader mt-3" id="email"></h5>
                <h5 class="table-textheader mt-3" id="admin"></h5>
                <h5 class="table-textheader mt-3" id="lastlogin"></h5>

          </div>
        </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "script"}}
<script>
    var session = common.cookie.get("session");
    var $get_session = "/admin/api/d/session/read/?&key=" + session + "&$preload=1";
    var $userglobal 
    $.get($get_session, function(data) {
        var res = data.result;

        $.each(res, function (_, response) {
            var  user = response.User;
            $("#user_name").html("Welcome "+user.FirstName + " " + user.LastName)
            $("#firstname").html("First Name: " + user.FirstName)
            $("#lastname").html("Last Name: " + user.LastName)
            $("#username").html("Username: "+user.Username)
            $("#email").html("Email Address: "+user.Email)
            $("#admin").html("Admin: " + user.Admin)
            $("#lastlogin").html("Last Login: " + user.LastLogin)
            $("#profilephoto").attr("src",user.Photo)
            $userglobal = user.Username
        });

    }, "json");
</script>
{{ end }}