{{ define "content"}}
<h3  class="dashboard-header">Settings</h3>
<hr>
<div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
  <br>
  <div class="card">
    <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
            <i class="material-icons opacity-10">settings</i>
        </div>
        <div class="text p-5">
            <hr>
            <div class="form-group mb-3">
                <form method="POST">
                    <h5 class="dashboard-header" >First Name</h5>
                    <input type="text" id="fname" class="form-control input-capital" ><br>
                    <h5 class="dashboard-header">Last Name</h5>
                    <input type="text" id="lname" class="form-control input-capital"><br>
                    <h5 class="dashboard-header">Username</h5>
                    <input type="text" id="uname" class="form-control" ><br>
                    <h5 class="dashboard-header">Email Address</h5>
                    <input type="text" id="email" class="form-control" ><br>
                    <h5 class="dashboard-header">New Password</h5>
                    <input type="password" id="npass" class="form-control" ><br>
                    <h5 class="dashboard-header">Repeat New Password</h5>
                    <input type="password" id="rnpass" class="form-control" ><br>
                    <button type="button" class="btn btn-success" id="settings_save">Save changes</button>
                    <button type="button" class="btn btn-secondary" id="settings_cancel">Cancel changes</button>
                </form>
            </div>
        </div> 
    </div>
  </div>
</div>
{{ end }}

{{ define "script" }}
<script>
    // Globals
    var $user = $("#uname").val()
    var $api = "/admin/api/d/user/read/?/&username="
    var $query =  $api + $user

    $("#settings_save").on("click", function(){
        console.log("Settings Save Click")
        console.log($user)
        console.log($query)
    })
    $("#settings_cancel").on("click", function(){
        console.log("Settings Cancel Click");
    })
</script>
{{ end }}