{{ define "content"}}
    <h1>Students</h1>
    <hr>
    <div class="col-xl-12 col-sm-6 mb-xl-0 mb-4">
        <br>
        <div class="card">
        <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">person</i>
            </div>
            <div class="text-end">
                <button class="btn btn-secondary btn-sm mb-0"> Add Student</button>
            </div>
            <div class="text pt-5">
               <div class="table-responsive">
                    <table class="table aliign-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Firstname
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Middlename
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Lastname
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Course
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Year Level
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
               </div>
            </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
            <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Students </span>of our University</p>
        </div>
        </div>
    </div>
{{ end }}
