{{ define "content"}}
    <h1 class="dashboard-header">Students</h1>
    <hr>
    <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
        <br>
        <div class="card">
        <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">person</i>
            </div>
            <div class="text-end">
                <input class="search-bar" type="text" name="search-student" id="search-student" placeholder="Search...">
                <button class="btn btn-secondary btn-sm mb-0 button-text" id="add_student" data-target="#addstudent_modal" data-toggle="modal" data-backdrop="static" data-keyboard="false"> Add Student</button>
            </div>
            <div class="text pt-5">
               <div class="table-responsive">
                    <table class="table align-items-center">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-m font-weight-bolder opacity-9 table-textheader">
                                    Firstname
                                </th>
                                <th class="text-uppercase text-secondary text-m font-weight-bolder opacity-9 table-textheader">
                                    Middlename
                                </th>
                                <th class="text-uppercase text-secondary text-m font-weight-bolder opacity-9 table-textheader">
                                    Lastname
                                </th>
                                <th class="text-uppercase text-secondary text-m font-weight-bolder opacity-9 table-textheader">
                                    Course
                                </th>
                                <th class="text-uppercase text-secondary text-m font-weight-bolder opacity-9 table-textheader">
                                    Year Level
                                </th>
                            </tr>
                        </thead>
                        <tbody id="student-listbody">
                        </tbody>
                    </table>
               </div>
            </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
            <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Students </span>of our University</p>
        </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="addstudent_modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Student</h5>
            </div>
            <div class="modal-body">
                <div class="form-group mb-3">
                    <form method="POST">
                        <input type="text" name="fname" id="fname" placeholder="First Name" class="form-control"><br>
                        <input type="text" name="mname" id="mname" placeholder="Middle Name" class="form-control"><br>
                        <input type="text" name="lname" id="lname" placeholder="Last Name" class="form-control"><br>
                        <input type="email" name="email" id="email" placeholder="Email Address" class="form-control"><br>
                        <input type="number" name="cnumber" id="cnumber" placeholder="Contact Number" class="form-control"><br>
                        <input type="text" name="address" id="address" placeholder="Address" class="form-control"><br>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="addstudent_save">Save changes</button>
              <button type="button" class="btn btn-secondary" id="addstudent_close" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>

{{ end }}
{{ define "script" }}
    <script>
        var tbody = $('#student-listbody')
        window.onload = setup();

        function setup(){
            studenttable()
        }
        function studenttable(){
            console.log('student')
            var $query = "/admin/api/d/students/read/?"

            // For displaying Query
            $.get($query, function (response)
            {
                var student = response.result;
                $.each(student, function(_, student)
                {
                    tbody.append(
                        $("<tr>").append(
                            $("<td>").attr("class", "text-uppercase text-secondary text-m").text(student.Firstname),
                            $("<td>").attr("class", "text-uppercase text-secondary text-m").text(student.Middlename),
                            $("<td>").attr("class", "text-uppercase text-secondary text-m").text(student.Lastname),
                            $("<td>").attr("class", "text-uppercase text-secondary text-m").text(student.Course),
                            $("<td>").attr("class", "text-uppercase text-secondary text-m").text(student.YearLevel),
                        )
                    )
                });
            }, "json");
        }

        $("#addstudent_save").on("click", function(){
            $("#addstudent_modal").fadeOut(100)
            $.ajax({
                "method": "POST",
                "data" : {
                    "data-action" : "new_student",
                    "firstname" : $("[name='fname']").val(),
                    "middlename" : $("[name='mname']").val(),
                    "lastname" : $("[name='lname']").val(),
                    "email" : $("[name='email']").val(),
                    "cnumber" : $("[name='cnumber']").val(),
                    "address" : $("[name='address']").val(),
                },
                "success": function (data)
                {
                    Swal.fire({
                    position: 'middle',
                    icon: 'success',
                    title: 'Student added succesfully',
                    showConfirmButton: false,
                    timer: 1500
                    }).then((result) => {
                        $(location).attr('href', '/educ/students/')
                    });
                }
            })
        })
    </script>
{{ end }}